*.DS_Store
*config.h
*Logs/
*.ipynb_checkpoints/
*adafruitio.h
Assignment 3/GestureLogs*
.virtual_documents/
Assignment 3/signals/Tutorials*
Assignment 3/signals/Projects/StepTracker*
Assignment 3/signals/ADXL335GestureLogs*
Assignment 3/signals/GestureLogs*